

.document-app {
    width: 1200px;
    display: block;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
}

.document-main {
    display: flex;
    flex-direction: row;
}

.document-main-table {
    flex: 3;
}

.document-filters {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.search-add-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-input {
    flex: 4;
}

.button-add-document {
    flex: 1;
}

.username {
    flex: 3;
}

.document-list {
    width: 100wh;
}

table {
    border: 2px #0069d9;
    width: 100%;
}

thead, tfoot {
    background-color: rgb (228 240 245);
}

th, td {
    /* border: 1px solid rgb(160 160 160); */
    text-align: left;
    padding: 8px 10px
}

tr:hover {
    background-color: rgb(200 200 200);
}