.header {
    display: flex;
    flex-direction: row;
}

.header-logo {
    flex: 4;
}

.header-username, .header-documents, .header-main {
    margin: auto;
    flex: 1;
}

.header-documents-h2:hover, .header-main-h2:hover {
  color: #b8bc43;
  cursor:default;
}
