@use 'variables.scss';
@use 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  background-color: variables.$gray_blue_1;
  height: 100vh;
  //@include mixins.flex();
  @include mixins.font(
    $font_weight: 400,
    $line_height: 17px,
    $font_size_start: 15px,
    $color: variables.$gray_12
  );

  svg {
    width: variables.$svg_med;
    height: variables.$svg_med;
    @include mixins.breakpoint(md) {
      width: variables.$svg_max;
      height: variables.$svg_max;
    }
  }

  .icon {
    &__back,
    &__close,
    &__trash {
      path {
        fill: variables.$gray_12;
        transition: fill 0.4s;
      }
      &:hover path {
        fill: variables.$blue_5;
      }
      &:active path {
        fill: variables.$blue_4;
      }
    }
  }

  .icon {
    &__back {
      width: variables.$svg_min * 1.5;
      height: variables.$svg_min * 1.5;
      @include mixins.breakpoint(md) {
        width: variables.$svg_med * 1.5;
        height: variables.$svg_med * 1.5;
      }
      @include mixins.breakpoint(lg) {
        width: variables.$svg_max * 1.5;
        height: variables.$svg_max * 1.5;
      }
    }
  }

  .icon {
    &__download,
    &__success,
    &__error {
      width: variables.$svg_min * 2;
      height: variables.$svg_min * 2;
      @include mixins.breakpoint(md) {
        width: variables.$svg_med * 2;
        height: variables.$svg_med * 2;
      }
      @include mixins.breakpoint(lg) {
        width: variables.$svg_max * 2;
        height: variables.$svg_max * 2;
      }
    }
  }
}

.app {
  height: 100vh;
  &-header{
    z-index: 1;
    height: 70px;
    &-btn-exit {
      width: 35px;
      height: 35px;
      cursor: pointer;
  
      svg {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #21558ab3;
        transition: variables.$transition;
  
        &:hover {
          stroke: #21558a;
        }
      }
    }
  }
}

.container{
  height: 100%;
}
.main{
  position: relative;
  @include mixins.breakpoint(lg) {
    top:100px;
  }
  &-content{
    padding: 0 50px;
    &-filter{
      display: flex;
      justify-content: space-between;
      &-btn,
  label {
    align-items: center;
    transition: variables.$transition;
    padding: 7.5px 26px;
    background: variables.$gray_blue_5; 
    border: 1px solid variables.$gray_blue_5;
    @include mixins.flex($flex-direction: row);
    @include mixins.font(
      $font_weight: 400,
      $line_height: 17px,
      $font_size_start: 15px,
      $color: #64748e
    );
    
    &:hover {
      background: variables.$gray_blue_6;
      border: 1px solid variables.$gray_blue_5;
    }

    &:active {
      background: variables.$gray_2;
      color: variables.$blue_5;
      border: 1px solid variables.$blue_5;
    }

    &_disabled:hover {
      background: variables.$gray_blue_3;
      border: 1px solid variables.$gray_5;
      color: variables.$gray_9;
    }
  }
  }
    }
    
}

.add {
  height: 40vh;

  &-content {
    height: 100%;
    @include mixins.flex();
    align-items: center;
    row-gap: variables.$row-gap;
  }

  &-btn,
  label {
    align-items: center;
    transition: variables.$transition;
    padding: 7.5px 26px;
    background: variables.$gray_blue_5; 
    border: 1px solid variables.$gray_blue_5;
    @include mixins.flex($flex-direction: row);
    @include mixins.font(
      $font_weight: 400,
      $line_height: 17px,
      $font_size_start: 15px,
      $color: #64748e
    );
    
    &:hover {
      background: variables.$gray_blue_6;
      border: 1px solid variables.$gray_blue_5;
    }

    &:active {
      background: variables.$gray_2;
      color: variables.$blue_5;
      border: 1px solid variables.$blue_5;
    }

    &_disabled:hover {
      background: variables.$gray_blue_3;
      border: 1px solid variables.$gray_5;
      color: variables.$gray_9;
    }
  }

  &-warning {
    align-items: center;
    column-gap: 8px;
    @include mixins.flex($flex-direction: row);
    @include mixins.font(
      $font_weight: 400,
      $line_height: 15px,
      $font_size_start: 13px,
      $color: variables.$gray_9
    );
  }
  
  @keyframes loader {
    100% {
      transform: rotate(360deg);
    }
  }

  

  .uploader {
    width: 275.63px;
    min-height: 205px;
    background-color: variables.$gray_blue_4;
    align-items: center;
    row-gap: variables.$row-gap;
    border: 1px dashed variables.$blue_4;
    border-radius: 2px;
    transition: variables.$transition;
    @include mixins.flex();
    @include mixins.breakpoint(md) {
      //padding: 75px 120px; // 50px 90px
      width: 465.73px;
      min-height: 325px;
    }
    @include mixins.breakpoint(lg) {
      //padding: 105px 315px; // 70px 210px
      width: 886.94px;
      min-height: 415.24px;
    }

    label {
      input {
        display: none;
      }
      gap: 4px;
    }

    &_active {
      background: variables.$gray_blue_9;
    }

    &__file-view {
      color: variables.$gray_12;
      width: variables.$widthDragDrop;
      align-items: center;
      
      @include mixins.flex($flex-direction: row, $justify-content: space-around);
      @include mixins.breakpoint(md) {
        width: variables.$widthDragDrop_md;
      }
      
    }

    &__file-name {
      align-items: center;
      column-gap: 4px;
      @include mixins.flex($flex-direction: row, $justify-content: start);
    }

    &__trash-tooltip {
      position: relative;
      display: inline-block;
    }

    &__trash-tooltip-text {
      visibility: hidden;
      width: variables.$tooltip_size;
      background: variables.$tooltip_bg_color;
      border: 1px solid variables.$gray_7;
      border-radius: 3px;
      padding: 2px 4px;
      position: absolute;
      z-index: 1;
    }

    &__trash-tooltip .uploader__trash-tooltip-text {
      width: variables.$tooltip_size;
      top: 100%;
      left: 50%;
      margin-left: -60px;
    }

    &__trash-tooltip:hover .uploader__trash-tooltip-text {
      visibility: visible;
    }
  }



  
}
//.dialog-window {
//  position: fixed;
//  top: 0;
//  left: 0;
//  height: 100%;
//  width: 100%;
//  display: flex;

//  &__content {
//    position: relative;
//    z-index: 2;
//    width: variables.$widthDialogWindow;
//    min-height: 150px;
//    background: variables.$gray_1;
//    border-radius: 10px;
//    padding: 16px;
//    margin: auto;
//    transition: variables.$transition;
//    @include mixins.flex();
//    @include mixins.breakpoint(md) {
//      width: variables.$widthDialogWindow_md;
//    }
//  }

//  &__btn-close {
//    position: absolute;
//    right: 10px;
//    top: 10px;
//  }

//  &__message {
//    align-items: center;
//    @include mixins.flex();

//    div {
//      text-align: center;
//      padding: variables.$padding;
//      @include mixins.flex();
//      row-gap: 8px;
//      @include mixins.breakpoint(md) {
//        row-gap: 16px;
//      }

//      h4 {
//        line-height: 14.95px;
//        font-weight: 700;
//      }
//    }
//  }

//  &__btns {
//    width: 100%;
//    justify-content: space-evenly;
//    @include mixins.flex($flex-direction: row);

//    button {
//      align-items: center;
//      transition: variables.$transition;
//      width: 49%;
//      padding: 7.5px 13px;
//      background: variables.$gray_blue_5;
//      border: 1px solid variables.$gray_blue_5;
//      @include mixins.flex($flex-direction: row);
//      @include mixins.font(
//        $font_weight: 400,
//        $line_height: 17px,
//        $font_size_start: 15px,
//        $color: #64748e
//      );
//      @include mixins.breakpoint(md) {
//        padding: 7.5px 26px;
//      }

//      &:hover {
//        background: variables.$gray_blue_6; 
//        border: 1px solid variables.$gray_blue_5;
//      }

//      &:active {
//        background: variables.$gray_2;
//        color: variables.$blue_5;
//        border: 1px solid variables.$blue_5;
//      }
//    }
//  }

//  &__overlay {
//    position: absolute;
//    top: 0;
//    left: 0;
//    height: 100%;
//    width: 100%;
//    background-color: black;
//    opacity: 0.6;
//    z-index: 0;
//  }
//}

//.uploader__trash-btn,
//.dialog-window__btn-close,
//.converter__btn-back {
//  border: none;
//  background: none;
//  cursor: pointer;
//}


.header {
  @include mixins.font(
    $font_weight: 700,
    $line_height: 25px,
    $font_size_start: 22px,
    $color: variables.$gray_blue_7
  );
}

.document{
  padding: 100px 30px;
  &-header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  &-body{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    gap: 25px;
    &-pdf{
      //max-width: 70vw;
      max-height: 70vh;
      overflow-y: scroll;
      flex:4
    }
    &-info{
      flex:1;
      text-align: right;
      
      &-h{
        margin-bottom: 10px;
      }
      &-btn,
  label {
    margin-top: 10px;
    transition: variables.$transition;
    padding: 7.5px 26px;
    background: variables.$gray_blue_5; 
    border: 1px solid variables.$gray_blue_5;
    @include mixins.font(
      $font_weight: 400,
      $line_height: 17px,
      $font_size_start: 15px,
      $color: #64748e
    );
    
    &:hover {
      background: variables.$gray_blue_6;
      border: 1px solid variables.$gray_blue_5;
    }

    &:active {
      background: variables.$gray_2;
      color: variables.$blue_5;
      border: 1px solid variables.$blue_5;
    }

    &_disabled:hover {
      background: variables.$gray_blue_3;
      border: 1px solid variables.$gray_5;
      color: variables.$gray_9;
    }
  }

    }
  }
}

.modal-animation-enter-active,
.modal-animation-leave-active {
  transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}

.modal-animation-enter-from,
.modal-animation-leave-to {
  opacity: 0;
}

.modal-animation-inner-enter-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
}

.modal-animation-inner-leave-active {
  transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
}

.modal-animation-inner-enter-from {
  opacity: 0;
  transform: scale(0.8);
}

.modal-animation-inner-leave-to {
  transform: scale(0.8);
}

.modal {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);

  .modal-inner {
    position: relative;
    max-width: 640px;
    width: 80%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #fff;
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    &-h{
      text-align: center;
    }
    &-el{
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      &:hover{
        background: variables.$gray_blue_6;
      }
      &-selected{
        background: teal;
        color: whitesmoke;
        &:hover{
          background: variables.$gray_blue_6;
          color: black;
        }
      }
    }
    
    &-btn,
  label {
    transition: variables.$transition;
    padding: 7.5px 26px;
    background: variables.$gray_blue_5; 
    border: 1px solid variables.$gray_blue_5;
    @include mixins.font(
      $font_weight: 400,
      $line_height: 17px,
      $font_size_start: 15px,
      $color: #64748e
    );
    
    &:hover {
      background: variables.$gray_blue_6;
      border: 1px solid variables.$gray_blue_5;
    }

    &:active {
      background: variables.$gray_2;
      color: variables.$blue_5;
      border: 1px solid variables.$blue_5;
    }

    &_disabled:hover {
      background: variables.$gray_blue_3;
      border: 1px solid variables.$gray_5;
      color: variables.$gray_9;
    }
  }


  }
}

.document-list {
  //&-item_header {
  //  text-align: center;
  //  margin-top: 20px;
  //}
  //padding: 30px;
  &__content {
    align-items: center;
    row-gap: 15px;
  }
  //&__container {
  //  height: 100%;
  //  width: 80%;
  //  flex-wrap: wrap;
  //  align-items: center;
  //  row-gap: 25px;

  //  @include mixins.flex($flex-direction: row, $justify-content: space-evenly);
  //  @include mixins.breakpoint(lg) {
  //    @include mixins.flex($flex-direction: row, $justify-content: center);
  //    column-gap: 30px;
  //  }
  //  @media (max-width: 1400px) {
  //    max-width: 60vw;
  //  }
  //  @media (min-width: 1700px) {
  //    max-width: 60vw;
  //  }
    
    
  //}
}

.doc{
  a {
    width: 100%;
  }
  &:hover {
    background-color: variables.$gray_blue_9;
  }
  &:active {
    background-color: variables.$gray_blue_4;
  }
  &-item {
    color: variables.$gray_12;
    
  
  }
}


.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__loader {
    animation: loader linear 5s infinite;
  }
}

.converter {
  height: 40vh;

  &__btnLogs {
    width: 200px;
    transition: variables.$transition;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;

    &:hover {
      background: #215d9956;
    }

    &:active {
      background: #215d997c;
    }
  }

  .converter__btn {
    padding: 7.5px 26px;
    color: variables.$gray_blue_8;
    background: variables.$blue_7;
    border: 1px solid variables.$blue_7;
   
    &:hover {
      background: variables.$blue_8;
      border: 1px solid variables.$blue_8;
    }

    &:active {
      background: variables.$blue_9;
      color: variables.$gray_1;
      border: 1px solid variables.$blue_9;
    }

    &_disabled:hover {
      background: variables.$blue_10;
      border: 1px solid variables.$blue_10;
      color: variables.$gray_blue_8;
    }
  }

  .icon__back {
    position: absolute;
    right: 10px;
    top: 80px;
  }
  
  @keyframes loader {
    100% {
      transform: rotate(360deg);
    }
  }

  &__content {
    height: 100%;
    @include mixins.flex();
    align-items: center;
    row-gap: variables.$row-gap;
  }

  .uploader {
    width: 275.63px;
    min-height: 205px;
    background-color: variables.$gray_blue_4;
    align-items: center;
    row-gap: variables.$row-gap;
    border: 1px dashed variables.$blue_4;
    border-radius: 2px;
    transition: variables.$transition;
    @include mixins.flex();
    @include mixins.breakpoint(md) {
      //padding: 75px 120px; // 50px 90px
      width: 465.73px;
      min-height: 325px;
    }
    @include mixins.breakpoint(lg) {
      //padding: 105px 315px; // 70px 210px
      width: 886.94px;
      min-height: 415.24px;
    }

    label {
      input {
        display: none;
      }
      gap: 4px;
    }

    &_active {
      background: variables.$gray_blue_9;
    }

    &__file-view {
      color: variables.$gray_12;
      width: variables.$widthDragDrop;
      align-items: center;
      
      @include mixins.flex($flex-direction: row, $justify-content: space-around);
      @include mixins.breakpoint(md) {
        width: variables.$widthDragDrop_md;
      }
      
    }

    &__file-name {
      align-items: center;
      column-gap: 4px;
      @include mixins.flex($flex-direction: row, $justify-content: start);
    }

    &__trash-tooltip {
      position: relative;
      display: inline-block;
    }

    &__trash-tooltip-text {
      visibility: hidden;
      width: variables.$tooltip_size;
      background: variables.$tooltip_bg_color;
      border: 1px solid variables.$gray_7;
      border-radius: 3px;
      padding: 2px 4px;
      position: absolute;
      z-index: 1;
    }

    &__trash-tooltip .uploader__trash-tooltip-text {
      width: variables.$tooltip_size;
      top: 100%;
      left: 50%;
      margin-left: -60px;
    }

    &__trash-tooltip:hover .uploader__trash-tooltip-text {
      visibility: visible;
    }
  }

  &__btn,
  label {
    align-items: center;
    transition: variables.$transition;
    padding: 7.5px 26px;
    background: variables.$gray_blue_5; 
    border: 1px solid variables.$gray_blue_5;
    @include mixins.flex($flex-direction: row);
    @include mixins.font(
      $font_weight: 400,
      $line_height: 17px,
      $font_size_start: 15px,
      $color: #64748e
    );
    
    &:hover {
      background: variables.$gray_blue_6;
      border: 1px solid variables.$gray_blue_5;
    }

    &:active {
      background: variables.$gray_2;
      color: variables.$blue_5;
      border: 1px solid variables.$blue_5;
    }

    &_disabled:hover {
      background: variables.$gray_blue_3;
      border: 1px solid variables.$gray_5;
      color: variables.$gray_9;
    }
  }

  &__warning {
    align-items: center;
    column-gap: 8px;
    @include mixins.flex($flex-direction: row);
    @include mixins.font(
      $font_weight: 400,
      $line_height: 15px,
      $font_size_start: 13px,
      $color: variables.$gray_9
    );
  }
}

//.modal_logs {
//  max-height: 80vh;
//  width: 80%;
//  overflow-y: auto;
//  padding: 20px;
//  box-sizing: border-box;

//  p {
//    white-space: pre-wrap;
//    word-wrap: break-word;
//    font-size: 16px;
//  }

//  &__body {
//    overflow-y: auto;
//    margin-top: 20px;
//  }
//}




.logs {
  height: 55vh;
  width: 100%;
  overflow-y: auto;

  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    button {
      width: 100px;
      height: 40px;
      transition: variables.$transition;
      border: 1px solid #ccc;
      border-radius: 4px;

      &:hover {
        background: #d6ebf7;
      }

      &:active {
        background: #bcdfff;
      }
    }
  }

  &__item {
    padding: 10px;
    border: 1px solid #ccc;
    transition: variables.$transition;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:not(:last-child) {
      border-bottom: none;
    }

    &:hover {
      background: rgba(128, 128, 128, 0.1);
    }
  }
}

//.checkbox-group {
//  display: flex;
//  justify-content: flex-end;
//  align-items: center;

//  &__item {
//    height: 15px;
//    width: 15px;
//  }

//  label {
//    font-size: 15px;
//    background: transparent;
//    padding: 5px;
//    color: gray;
//    border-color: transparent;

//    &:hover {
//      background-color: #d6ebf7;
//    }
//  }

//  input {
//    margin-right: 5px;
//  }
//}

.adminpanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__header-btns {
    width: 100%;
    padding: 0 35px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;

    button {
      width: 200px;
      transition: variables.$transition;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 3px;

      &:hover {
        background: #215d9956;
      }

      &:active {
        background: #215d997c;
      }
    }
  }

  

  input {
    height: 35px;
    border: 1px solid #ccccccb5;
    padding: 0 15px;
    border-radius: 4px;
    transition: variables.$transition;

    &::placeholder {
      color: #999999;
      font-size: 15px;
    }

    &:focus {
      color: #333333;
      border: 1px solid #bcdfff8c;
    }
  }

  &__content {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &__btn {
      width: 200px;
      height: 100%;
      border: 1px solid gray;
      border-radius: 3px;
      transition: variables.$transition;
      border: 1px solid #ccc;

      &:hover {
        background: #215d9956;
      }

      &:active {
        background: #215d997c;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30px;
    }

    &__table {
      max-height: 100%;
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: left;
      overflow-y: auto;

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }

      thead {
        background: #d9d9d9;
        position: sticky;
        top: 0;
      }

      th {
        width: 24%;
        padding: 5px;
        border: 1px solid rgba(128, 128, 128, 0.354);
      }

      tbody {
        tr {
          height: 30px;

          &:hover {
            background-color: #cbe2eebe;
          }
        }
      }

      td {
        width: 24%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid rgba(128, 128, 128, 0.354);
        padding: 5px;
        height: 30px;

        input {
          width: 100%;
        }
        button {
          margin-left: 20px;
        }
      }
    }
  }
  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__warning {
      text-align: center;
      margin-bottom: 10px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      &__edit {
        margin: 5px 0 10px 0;
      }
    }

    input {
      margin: 3px 0;
      width: 100%;
    }

    &__btns {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30px;
    }

    button {
      margin-top: 10px;
      width: 100%;
      max-width: 400px;
      transition: variables.$transition;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;

      &:hover {
        background: #215d9956;
      }

      &:active {
        background: #215d997c;
      }
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;

  &__content {
    height: 60%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(128, 128, 128, 0.354);
    border-radius: 10px;
    padding: 20px 0;
    gap: 20px;

    &__form {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 5%;

      &__error {
        color: rgba(249, 22, 22, 0.785);
        font-size: 14px;
        text-align: center;
        padding: 0 5px 10px 5px;
      }

      &__success {
        color: rgba(17, 156, 17, 0.785);
        font-size: 14px;
        text-align: center;
        padding: 0 5px 10px 5px;
      }

      input {
        width: 250px;
        height: 40px;
        border: 1px solid #ccc;
        padding: 0 15px;
        border-radius: 3px;
        transition: variables.$transition;

        &:focus {
          color: #333333;
          border: 1px solid #bcdfff;
        }
      }

      button {
        width: 250px;
        height: 40px;
        transition: variables.$transition;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 3px;

        &:hover {
          background: #215d9956;
        }

        &:active {
          background: #215d997c;
        }
      }
    }
  }
}

//.table_header {
//  width: 100%;
//  border-collapse: collapse;
//  table-layout: fixed;

//  &__orderBy {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    gap: 10px;

//    &__btns {
//      padding-top: 2px;
//      display: flex;
//      align-items: center;
//      flex-direction: column;

//      &__btn {
//        width: 19px;
//        height: 19px;
//        display: flex;
//        align-items: center;
//        justify-content: center;

//        svg {
//          width: 100%;
//          height: 100%;
//          cursor: pointer;
//          transition: variables.$transition;

//          &:hover {
//            fill: #1d4b7977;
//          }
//        }
//      }
//    }
//  }

//  thead {
//    background: #d9d9d9;
//    position: sticky;
//    top: 0;
//    border: 1px solid rgba(128, 128, 128, 0.354);
//  }

//  th {
//    width: 24%;
//    padding: 5px;
//  }
//}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;

  &-logo img {
    width: 100px;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;

    &-item {
      cursor: pointer;
      color: #007bff85;
      display: flex;
      align-items: center;
      gap: 5px;
      width: 30px;

      svg {
        fill: #21558abc;

        &:hover {
          fill: #21558a;
          transition: 0.2s ease;
        }
      }

      img {
        filter: opacity(0.8);
        
        &:hover {
          filter: opacity(1) drop-shadow(0 0 0 #21558a);
          transition: 0.2s ease;
        }
      }
    }
  }
}

.error-message {
  position: absolute;
  left: 20px;
  color: rgba(249, 22, 22, 0.785);
  font-size: 12px;
  font-weight: 700;
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}